.btn_numeros {
  height: 550px;
  width: 450px;

  margin: auto;
}

.botones {
  height: 100px;
  width: 150px;
}
.btn_acceptar {
  height: 100px;
  width: 200px;
}
.operator {
  width: 450px;
  height: 100px;
  margin: auto;
}
.operacions {
  width: 100px;
  height: 100px;
}
